.modalBox{
    background-color: #f0f0f0;
    border-radius: 8px;
    border-width: 1px;
    border-style: double;
    left: 50%;
    max-width: 400px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}
.titleModal{
    background-color: var(--black);
    color: var(--white);
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 20px;
    text-align: center;
}