.projectCard{
    flex: 0 calc(50% - 4px);
}
.customCard{
    background-color: var(--secondaryBlack);
    color: var(--white);
    padding: 8px;
}
.customCard span{
    display: block;
}
.projectForm{
    padding: 0 10px 20px;
}
.headCardProject{
    align-items: center;
    border-bottom: 1px solid var(--white);
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 8px;
}
.titleProject{
    font-size: 22px;
}
.costProject{
    font-size: 14px;
    white-space: nowrap;
}
.boxButtons{
    display: flex;
    justify-content: space-between;
}